@model Collections.ViewModel.ApplicationUserViewModel

<form method="post" asp-controller="ApplicationUser" asp-action="Create">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <label asp-for="@Model.Email"> Email:</label>
    <input type="email" asp-for="@Model.Email" />
    <label asp-for="@Model.Password"> Password:</label>
    <input type="password" asp-for="@Model.Password" />

    <label asp-for="@Model.Roles"></label>
     <select multiple="multiple" class="multi-select" asp-for="@Model.Roles" asp-items="ViewBag.Roles">

     </select>
    

    <button type="submit">Submit</button>
</form>


